{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid " style="padding-left: 130px;padding-top: 40px;">
    <div class="row">
        {% for category in categories %}
          <div class="col-md-4 p-3">
            <div class="card" style="width: 350px;">
                <img src="{{category.strCategoryThumb}}" class="card-img-top" alt="food image">
                <div class="card-body">
                    <h6>{{category.idCategory}}</h6>
                  <h5 class="card-title">{{category.strCategory}}</h5>
                  <p class="card-text">{{category.strCategoryDescription | truncatewords:10}}</p>
                  
                </div>
              </div>
          </div>
    

{% endfor %}
</div>
</div>
{% endblock  %}